.container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    height: 844px;
}

.placeCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBgc {
    background-color: #0069B4;
    height: 47px;
    display: flex;
    align-items: center
}

.topBgc>i {
    color: white;
    margin-left: 25px;
}

.titleName {
    font-size: 32px;
    margin-top: 32px;
}

.commentWord {
    font-size: 15px;
    color: #ACACAC;
    width: 60%;
}

.LabelName {
    display: block;
    margin-left: 25%;
    color: #ACACAC;
    font-size: 16px;
}

#userEmail,
#userVc,
#userPassword,
#userPassword1 {
    outline: 1px solid #0069B4;
    height: 35px;
    margin-left: 25%;
    width: 50%;
}

#userEmail::-webkit-input-placeholder,
#userVc::-webkit-input-placeholder,
#userPassword::-webkit-input-placeholder,
#userPassword1::-webkit-input-placeholder {
    color: #ACACAC;
    font-size: 18px;
    padding-left: 5px;
}

.submitBtn {
    background-color: #0069B4;
    width: 50%;
    height: 35px;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 92px;
}